<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<el-menu th:fragment="leftMenu" default-active="1-4-1" style="border-right:0px" class="el-menu-vertical-demo"
         background-color="#545c64" text-color="#fff" active-text-color="#ffd04b" @open="handleOpen"
         @close="handleClose" :collapse="isCollapse">
    <el-menu-item index="1">
        <i class="iconfont el-icon-i-home"></i>
        <span slot="title">&nbsp;&nbsp;首页</span>
    </el-menu-item>
    <el-submenu index="2">
        <template slot="title">
            <i class="el-icon-location" style="font-size: 18px;"></i>
            <span slot="title">导航一</span>
        </template>
        <el-menu-item-group>
            <span slot="title">分组一</span>
            <el-menu-item index="1-1">选项1</el-menu-item>
            <el-menu-item index="1-2">选项2</el-menu-item>
        </el-menu-item-group>
        <el-menu-item-group title="分组2">
            <el-menu-item index="1-3">选项3</el-menu-item>
        </el-menu-item-group>
        <el-submenu index="1-4">
            <span slot="title">选项4</span>
            <el-menu-item index="1-4-1">选项1</el-menu-item>
        </el-submenu>
    </el-submenu>
    <el-menu-item index="3">
        <i class="el-icon-menu"></i>
        <span slot="title">导航二</span>
    </el-menu-item>
    <el-menu-item index="4" disabled>
        <i class="el-icon-document"></i>
        <span slot="title">导航三</span>
    </el-menu-item>
    <el-submenu index="5">
        <template slot="title">
            <i class="el-icon-setting"></i>
            <span slot="title">系统设置</span>
        </template>
        <el-menu-item index="5-1">
            <i class="iconfont el-icon-i-user1" style="font-size: 18px"></i>
            <span slot="title">&nbsp;&nbsp;用户管理</span>
        </el-menu-item>
        <el-menu-item index="5-2">
            <i class="iconfont el-icon-i-role1" style="font-size: 18px"></i>
            <span slot="title">&nbsp;&nbsp;角色管理</span>
        </el-menu-item>
        <el-menu-item index="5-3">
            <i class="iconfont el-icon-i-menu" style="font-size: 18px"></i>
            <span slot="title">&nbsp;&nbsp;菜单管理</span>
        </el-menu-item>
        <el-menu-item index="5-4">
            <i class="iconfont el-icon-i-data-dictionary" style="font-size: 18px"></i>
            <span slot="title">&nbsp;&nbsp;数据字典管理</span>
        </el-menu-item>
        <el-menu-item index="5-5">
            <i class="iconfont el-icon-i-log" style="font-size: 18px"></i>
            <span slot="title">&nbsp;&nbsp;日志管理</span>
        </el-menu-item>
        <el-menu-item index="5-6">
            <i class="iconfont el-icon-i-cachedata" style="font-size: 18px"></i>
            <span slot="title">&nbsp;&nbsp;缓存管理</span>
        </el-menu-item>
    </el-submenu>

    <label v-for="(menu,index,key) in menuList">
        <el-submenu v-if="!menu.leaf" index="2">
            <template slot="title">
                <i :class="menu.icon"></i>
                <span slot="title">&nbsp;&nbsp;{{menu.title}}</span>
            </template>
            <el-menu-item v-for="(m,idx,key) in menu.childrenList" index="2">
                <i :class="m.icon" style="font-size: 18px" ></i>
                <span slot="title">&nbsp;&nbsp;{{m.title}}</span>
            </el-menu-item>
        </el-submenu>
        <el-menu-item index="4" v-if="menu.leaf">
            <i :class="menu.icon"></i>
            <span slot="title">&nbsp;&nbsp;{{menu.title}}</span>
        </el-menu-item>
    </label>
</el-menu>
</body>
</html>