<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/element-ui/2.4.5/lib/theme-chalk/index.css}"
          href="webjars/element-ui/2.4.5/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_792188_slhk3ya6rje.css">
    <style>
        .el-header,
        .el-footer {
            background-color: #545c64;
            color: #909399;
            text-align: center;
            line-height: 60px;
        }

        .el-footer {
            color: #ffd0aa;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
            min-height: 600px;
        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .el-container:nth-child(5),
        .el-container:nth-child(6) {
            line-height: 260px;
        }

        .el-container:nth-child(7) {
            line-height: 320px;
        }

        .el-menu-vertical-demo:not(.el-menu--collapse) {
            width: 200px;
            min-height: 400px;
        }

        .footer {
            text-align: center;
            line-height: 60px;
        }

        .text {
            font-size: 14px;
        }

        .item {
            margin-bottom: 18px;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }

        .clearfix:after {
            clear: both
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-scrollbar wrapClass="scrollbar-wrapper">
            <div th:replace="commons/left_menu :: leftMenu"></div>
        </el-scrollbar>
        <el-container>
            <div th:replace="commons/header :: header"></div>
            <el-main>
                <el-tabs v-model="editableTabsValue" stretch="false" type="card" editable @edit="handleTabsEdit">
                    <el-tab-pane
                            :key="item.name"
                            v-for="(item, index) in editableTabs"
                            :label="item.title"
                            :name="item.name"
                    >
                        {{item.content}}
                    </el-tab-pane>
                </el-tabs>
                <el-row :gutter="20">
                    <el-col :span="8">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>卡片名称</span>
                                <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>
                            </div>
                            <div v-for="o in 4" :key="o" class="text item">
                                {{'列表内容 ' + o }}
                            </div>
                        </el-card>
                    </el-col>
                    <el-col :span="8">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>卡片名称</span>
                                <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>
                            </div>
                            <div v-for="o in 4" :key="o" class="text item">
                                {{'列表内容 ' + o }}
                            </div>
                        </el-card>
                    </el-col>
                    <el-col :span="8">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>卡片名称</span>
                                <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>
                            </div>
                            <div v-for="o in 4" :key="o" class="text item">
                                {{'列表内容 ' + o }}
                            </div>
                        </el-card>
                    </el-col>
                </el-row>

                <el-button type="text" @click="dialogVisible = true">点击打开 Dialog</el-button>

                <el-dialog title="提示" :visible.sync="dialogVisible" center fullscreen :before-close="handleClose">
                    <el-form :model="form" size="small">
                        <el-form-item label="活动名称" :label-width="formLabelWidth">
                            <el-input v-model="form.name" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="活动区域" :label-width="formLabelWidth">
                            <el-select v-model="form.region" placeholder="请选择活动区域">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogVisible = false">取 消</el-button>
                        <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
                    </div>
                </el-dialog>

                <i class="fontFamily el-icon-ump-user_delete" style="font-size: 20px">ssss</i>

            </el-main>
            <div th:replace="commons/footer :: footer"></div>
        </el-container>
    </el-container>
</div>

<script src="webjars/vue/2.5.16/dist/vue.js" th:src="@{/webjars/vue/2.5.16/dist/vue.js}"></script>
<!-- import JavaScript -->
<script src="webjars/element-ui/2.4.5/lib/index.js" th:src="@{/webjars/element-ui/2.4.5/lib/index.js}"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: true,
                top: 0,
                left: 0,
                selectedTag: {},
                editableTabsValue: '2',
                editableTabs: [{
                    title: 'Tab 1',
                    name: '1',
                    content: 'Tab 1 content'
                }, {
                    title: 'Tab 2',
                    name: '2',
                    content: 'Tab 2 content'
                }],
                tabIndex: 2,
                menuList: [
                    {title: '首页', icon: 'iconfont el-icon-i-home', leaf: true},
                    {
                        title: '系统设置', icon: 'iconfont el-icon-i-setting', leaf: false, childrenList: [
                            {title: '首页2', icon: 'iconfont el-icon-i-home', leaf: true},
                            {title: '首页3', icon: 'iconfont el-icon-i-home', leaf: true}
                        ]
                    }
                ],
                visible: false,
                isCollapse: false,
                activeIndex: '1',
                activeIndex2: '1',
                dialogVisible: false,
                tableData3: [{
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-02',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-04',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-01',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-08',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-06',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-07',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }],
                multipleSelection: [],
                dialogTableVisible: false,
                dialogFormVisible: false,
                form: {
                    name: '',
                    region: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },
                formLabelWidth: '120px'
            }
        },
        methods: {
            switchAside: function () {
                this.isCollapse = !this.isCollapse;
            },
            handleSelect: function (key, keyPath) {
                console.log(key, keyPath);
            },
            handleOpen: function (key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose: function (key, keyPath) {
                console.log(key, keyPath);
            },
            formatter: function (row, column) {
                return row.address;
            },
            filterTag: function (value, row) {
                return row.tag === value;
            },
            filterHandler: function (value, row, column) {
                const property = column['property'];
                return row[property] === value;
            },
            handleClose: function (done) {
                this.dialogVisible = false;
            },
            handleTabsEdit: function (targetName, action) {
                if (action === 'add') {
                    var newTabName = ++this.tabIndex + '';
                    this.editableTabs.push({
                        title: 'New Tab',
                        name: newTabName,
                        content: 'New Tab content'
                    });
                    this.editableTabsValue = newTabName;
                }
            },
            openMenu:function () {
                this.visible = true
                this.selectedTag = tag
                const offsetLeft = this.$el.getBoundingClientRect().left // container margin left
                this.left = e.clientX - offsetLeft + 15 // 15: margin right
                this.top = e.clientY
            },
            closeMenu:function() {
                this.visible = false
            }
        }
    })
</script>
</body>
</html>