<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="commons/meta_head :: metaHead(title='快速开发平台 | 角色管理')">
</head>
<body id="rolePage">
<!--导入header-->
<div th:replace="commons/header :: header"></div>
<div th:replace="commons/left_menu :: leftMenu"></div>
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a th:href="@{/}" class="maincolor">首页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">角色管理</span>
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <div class="panel-body" style="padding-bottom:0px;">
            <!--查询区域 begin-->
            <div class="panel " style="margin-bottom:0px; border: solid 1px #eee;">
                <div class="panel-heading"
                     style="font-weight: bold; background-color: #f5fafe; border-bottom: solid 1px #eee;">
                    查询条件
                    <span style="float:right;">
                        <a class="qry-btn" style="text-decoration: none;" onclick="doQuery()">
                            <span class="glyphicon glyphicon-search"></span>查询
                        </a>
                    </span>
                </div>
                <form id="formSearch" class="form-horizontal" style="width: 100%">
                    <div class="form-group" style="margin:12px 0 0 0;">
                        <div class="col-md-4">
                            <span class="control-label col-sm-4">
                                 角色编码
                            </span>
                            <div class="col-sm-8" style="margin-bottom:12px;">
                                <input type="text" class="form-control" id="search_roleCode" name="search_userName" placeholder="请输入角色编码">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <span class="control-label col-sm-4">
                                 角色名称
                            </span>
                            <div class="col-sm-8" style="margin-bottom:12px;">
                                <input type="text" class="form-control" id="search_roleName" name="search_roleName" placeholder="请输入角色名称">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <span class="control-label col-sm-4">
                                 状态
                            </span>
                            <div class="col-sm-8" style="margin-bottom:12px;">
                                <select id="search_status" name="search_status" class="form-control">
                                    <option value="-1" selected="selected">请选择状态</option>
                                    <option value="0">禁用</option>
                                    <option value="1">启用</option>
                                    <option value="2">删除</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--查询区域 end-->
            <!--表格工具条 begin-->
            <div id="toolbar" class="btn-group">
                <button id="btn_add" type="button" class="btn btn-default" onclick="openAddOrModifyDialog()">
                    <span class="glyphicon glyphicon-plus"></span>添加角色
                </button>
                <button id="btn_batchDel" type="button" class="btn btn-default" onclick="batchDel()">
                    <span class="glyphicon glyphicon-trash"></span>删除角色
                </button>
                <button id="btn_add" type="button" class="btn btn-default" onclick="openAddOrModifyDialog(true)">
                    <span class="glyphicon glyphicon-pencil"></span>修改角色
                </button>
            </div>
            <!--表格工具条 end-->
            <!--表格 begin-->
            <table id="roleTable"  class="table table-condensed"></table>
            <!--表格 end-->
        </div>
        <div th:replace="commons/footer :: footer"></div>
    </div>
</section>
<div style="display: none" id="roleForm">
    <div style="overflow: auto;">
        <form class="form-horizontal" id="infoForm">
            <div class="modal-body" style="width: 100%;overflow-y:auto;">
                <input type="hidden" id="roleId" name="roleId" value="">
                <div class="form-group">
                    <span class="col-sm-3 control-label">角色编码</span>
                    <div class="col-sm-8">
                        <input placeholder="" disabled name="roleCode" id="roleCode" value="" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-sm-3 control-label">角色名称</span>
                    <div class="col-sm-8">
                        <input placeholder="" name="roleName" id="roleName" value="" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-sm-3 control-label">备注</span>
                    <div class="col-sm-8">
                        <input placeholder="" name="remark" id="remark" value="" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-sm-3 control-label">状态</span>
                    <div class="col-sm-8">
                        <select id="status" name="status" class="form-control form-control-select">
                            <option value="-1">全部</option>
                            <option value="0">未启用</option>
                            <option value="1" checked>启用</option>
                            <option value="2">删除</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 选择菜单 -->
<div id="menuLayer" style="display: none;padding:10px;">
    <ul id="menuTree" class="ztree"></ul>
</div>
<div th:replace="commons/onload_js :: onloadJS"></div>
<script th:src="@{/js/security/role.js}" src="js/security/role.js"></script>
</body>
</html>