<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="commons/meta_head :: metaHead(title='快速开发平台 | 用户管理')">
</head>
<body id="userPage">
<!--导入header-->
<div th:replace="commons/header :: header"></div>
<div th:replace="commons/left_menu :: leftMenu"></div>
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a th:href="@{/}" class="maincolor">首页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">用户管理</span>
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <div class="panel-body" style="padding-bottom:0px;">
            <!--查询区域 begin-->
            <div class="panel " style="margin-bottom:0px; border: solid 1px #eee;">
                <div class="panel-heading"
                     style="font-weight: bold; background-color: #f5fafe; border-bottom: solid 1px #eee;">
                    查询条件
                    <span style="float:right;">
                        <a class="qry-btn" style="text-decoration: none;" onclick="doQuery()">
                            <span class="glyphicon glyphicon-search"></span>查询
                        </a>
                    </span>
                </div>
                <form id="formSearch" class="form-horizontal" style="width: 100%">
                    <div class="form-group" style="margin:12px 0 0 0;">
                        <div class="col-md-4">
                            <span class="control-label col-sm-4">
                                 用户名
                            </span>
                            <div class="col-sm-8" style="margin-bottom:12px;">
                                <input type="text" class="form-control" id="search_userName" name="search_userName" placeholder="请输入用户名">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <span class="control-label col-sm-4">
                                 昵称
                            </span>
                            <div class="col-sm-8" style="margin-bottom:12px;">
                                <input type="text" class="form-control" id="search_nickName" name="search_nickName" placeholder="请输入用户名">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <span class="control-label col-sm-4">
                                 状态
                            </span>
                            <div class="col-sm-8" style="margin-bottom:12px;">
                                <select id="search_status" name="search_status" class="form-control">
                                    <option value="-1" selected="selected">请选择状态</option>
                                    <option value="0">禁用</option>
                                    <option value="1">启用</option>
                                    <option value="2">删除</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--查询区域 end-->
            <!--表格工具条 begin-->
            <div id="toolbar" class="btn-group">
                <button id="btn_add" type="button" class="btn btn-default" onclick="openAddOrModifyDialog()">
                    <span class="glyphicon glyphicon-plus"></span>添加用户
                </button>
                <button id="btn_batchDel" type="button" class="btn btn-default" onclick="batchDel()">
                    <span class="glyphicon glyphicon-trash"></span>删除用户
                </button>
                <button id="btn_add" type="button" class="btn btn-default" onclick="openAddOrModifyDialog(true)">
                    <span class="glyphicon glyphicon-pencil"></span>修改用户
                </button>
                <button id="btn_export" type="button" class="btn btn-default" onclick="export()">
                    <span class="glyphicon glyphicon-save"></span>导出用户
                </button>
            </div>
            <!--表格工具条 end-->
            <!--表格 begin-->
            <table id="userTable"></table>
            <!--表格 end-->
        </div>
        <div th:replace="commons/footer :: footer"></div>
    </div>
</section>

<div style="display: none" id="actionFormatter">
    <a href='javascript:;' shiro:hasPermission='user:add' class='btn btn-sm btn-info size-S' onclick="openAddOrModifyDialog(true)" title='修改'><span class='glyphicon glyphicon-edit'></span></a>
    <a href='javascript:;' shiro:hasPermission='user:add' class='btn btn-sm btn-info size-S' onclick="delInfo('#id#')" title='删除'><span class='glyphicon glyphicon-trash'></span></a>
    <a href='javascript:;' shiro:hasPermission='user:add22' class='btn btn-sm btn-info size-S' onclick="modifyRole('#id#')" title='编辑用户角色'><span class='glyphicon glyphicon-user'></span></a>
</div>

<div th:replace="commons/onload_js :: onloadJS"></div>
<script th:src="@{/js/security/user.js}" src="js/security/user.js"></script>
<script th:src="@{/js/security/userRole.js}" src="js/security/userRole.js"></script>
<!--<script th:src="@{/js/security/user.js}" src="js/security/user.js"></script>-->


</body>
</html>